@font-face {
    font-family: 'poppins';
        src: url(../fonts/Poppins-Regular.woff);
    }

body{
    font-family: poppins;
    overflow: hidden;
}

.container{
    display: flex;
}

.container .wallpaper{
    width: 60%;
    background-color: #3366FF;
    padding: 100px 220px;
}

.container .wallpaper img{
width: 400px;
    height: 350px;
}

.container .main{
    width: 40%;
    padding: 50px 50px;
}

.container .main img{
    width: 47.5px;
    height: 50px;
}

.container .main .wetick{
    color: #3366FF;
    font-size: 24px;
    font-weight: 600;
}

.container .main .tick{
    color: #FC1055;
    letter-spacing: 1px;
}

.container .main .sign-in{
    margin-top: 20px;
    font-size: 24px;
    color: #373A42;
}

.container .main .welcome{
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #373A42;
}


.container .main .form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .main .form input{
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #C1C5D0;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.container .main .forgot{
    margin-top: 10px;
    font-size: 14px;
    color: #3366FF;
    text-align: right;
}

.container .main .button{
    background-color: #3366FF;
    color: white;
    box-shadow: 0px 8px 10px 0px #2395FF4D;
    border: none;
    width: 100%;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 20px;
}

.container .main .or-sign{
    margin-top: 20px;
    text-align: center;
    color: #373A42;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.container .main .logo-alt{
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
        gap: 10px;
}

.container .main .logo-alt img{
    width: 20px;
    height: 20px;
    padding: 10px 30px;
    border: 1px solid #3366FF;
        border-radius: 6px;
}