/* Universal Styles */

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.woff);
}

body {
    font-family: poppins;
    background-color: rgba(244, 247, 255, 1);
    margin: 0;
    /* overflow-x: hidden; */
}

button {
    border: none;
    background-color: #3366FF;
    color: #fff;
}

.footer{
    padding: 0 218px;
}

.footer .footer1{
    display: flex;
    justify-content: space-between;
}

.footer .footer1 .footer-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
}

.footer .footer1 .footer-logo .logo{
    display: flex;
    align-items: center;
}

.footer .footer1 .logo img {
    width: 47.5px;
    height: 50px;
}

.footer .footer1 .logo .wetick {
    color: #3366FF;
    font-size: 24px;
    font-weight: 600;
}

.footer .footer1 .logo .wetick .tick {
    color: #FC1055;
    letter-spacing: 1px;
}

.footer .footer1 .footer-logo .text{
    font-size: 14px;
    color:rgba(55, 58, 66, 1);
    font-weight: 500;
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.footer .footer1 .image{
    display: flex;
    gap: 17px;
}

.footer .footer1 .footer-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer .footer1 .footer-text .header{
    font-size: 16px;
    color:rgba(55, 58, 66, 1);
    font-weight: 600;
    margin-bottom: 5px;
}

.footer .footer1 .footer-text span{
    font-size: 14px;
    color: rgba(193, 197, 208, 1);
    font-weight: 500;
    line-height: 21px;
}

.footer .copy{
    margin-top: 75px;
    margin-bottom: 159px;
}

.footer .copy span{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar {
    top: 0;
    right: 0;
    left: 0;
    font-size: 14px;
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 5px 10px;
    font-weight: 600;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo-wetick {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .main{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.navbar .logo-wetick img {
    width: 47.5px;
    height: 50px;
}

.navbar .logo-wetick .wetick {
    color: #3366FF;
    font-size: 24px;
}

.navbar .logo-wetick .tick {
    color: #FC1055;
    letter-spacing: 1px;
}

.navbar .navbar-opt {
    flex: 1;
    display: flex;
    color: #373A42;
    justify-content: space-around;
    align-self: center;
    gap: 20px;
}

.navbar .navbar-opt .home:hover {
    color: #3366FF;
}

.navbar .navbar-opt .event:hover {
    color: #3366FF;
}

.navbar .navbar-opt .location:hover {
    color: #3366FF;
}

.navbar .navbar-button {
    flex: 1;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-button button {
    width: 169px;
    height: 40px;
    font-weight: 600;
}

.navbar .navbar-button .button-login {
    background-color: transparent;
    border: none;
    color: #373A42;
}

.navbar .navbar-button .button-signup {
    border: none;
    box-shadow: 0px 8px 10px 0px #3366FF26;
    border-radius: 10px;
}

.navbar .navbar-button .avatar {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
}

.navbar .navbar-button .avatar .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.navbar .navbar-button .avatar::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: linear-gradient(white, white),
                linear-gradient(225.52deg, #3366FF 1.55%, #2395FF 1.55%, #2395FF 1.56%, #884DFF 88.86%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: -1;
}

.navbar > .main > div:last-child{
    display: none;
}

/* media query */
@media (max-width: 992px) {
    /* Responsive home-page */
    .navbar{
        width: auto;
        flex-direction: column;
        height: unset;
        padding: 20px;
        gap: 10px;
    }
    .navbar > .main > div:last-child{
        display: unset;
    }
    .navbar > .main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .navbar .navbar-opt{
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }
    .navbar .navbar-button{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }
    .navbar .navbar-button button{
        width: 100% !important;
    }
    .background .image{
        width: auto;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .background .image img{
        width: 100%;
    }
    .city{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .city .content{
        padding: 0;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
    }
    .city .city-one{
        flex-direction: column;
        justify-content: center;
    }
    .city .city-one .location{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .city .content .city-one .location:not(:nth-child(2)){
        display: none;
    }
    .event-calendar .event-u{
        text-align: center;
    }
    .event-calendar .category{
        display: flex;
        flex-wrap: wrap;
    }
    .card-second{
        overflow-x: scroll;
    }
    .banner .banner-company .banner-title{
        text-align: center;
    }
    .banner .banner-company .category{
        display: flex;
        flex-wrap: wrap;
    }
    .footer{
        display: flex;
        padding-left: 20px;
        flex-direction: column;
    }
    .footer .footer1{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    /* Responsive Sign in */
    .container > div:first-child{
        display: none;
    }
    .container > div:last-child{
        width: 100%;
    }
    /* Responsive booking-page */
    .content-book{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .content-book .image-seat img{
        width: 100% !important;
        height: 100% !important;
    }
    .content-book .order{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }
    .content-book .order .button-checkout{
        justify-content: center;
    }
    /* Responsive payment */
    .content-book .method{
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .content-book .method:last-child{
        border-left: none !important;
        padding-left: 0 !important;
        height: 100% !important;
    }
    /* Responsive profile */
    .profile .profile-menu{
        display: none !important;
        background-color: #2395FF;
    }
    .profile .profile-content{
        flex-direction: column;
        
    }
    .profile .profile-content .box-profile{
        flex-direction: column-reverse;
    }
    .profile .profile-content .box-profile .edit-photo{
        border-left: none !important;
    }
    .profile .profile-content .box-profile .edit-photo div:last-child{
        display: none;
    }
    .profile .profile-content .box-profile .profile-title .profile-button button{
        width: 100% !important;
    }
}

#menu{
    background-color: transparent;
}

/* CSS Sign */

.container {
    display: flex;
    height: 100vh;
}

.container .wallpaper {
    width: 70%;
    background-color: #3366FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .main {
    width: 30%;
    padding: 50px 50px;
}

.container .main .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container .main .logo img {
    width: 47.5px;
    height: 50px;
}

.container .main .wetick {
    color: #3366FF;
    font-size: 24px;
    font-weight: 600;
}

.container .main .tick {
    color: #FC1055;
    letter-spacing: 1px;
}

.container .main .sign-in {
    margin-top: 20px;
    font-size: 24px;
    color: #373A42;
}

.container .main .welcome {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #373A42;
}


.container .main .form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .main .form .pass{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
}

.container .main .form .pass input{
    box-sizing: border-box;
}

.container .main .form .pass button{
    position: absolute;
    right: 10px;
    background-color: transparent;
}

.container .main .form input {
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #C1C5D0;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.container .main .forgot {
    margin-top: 10px;
    font-size: 14px;
    color: #3366FF;
    text-align: right;
}

.container .main .button {
    box-shadow: 0px 8px 10px 0px #2395FF4D;
    border: none;
    width: 100%;
    border-radius: 15px;
    padding: 10px 30px;
    margin-top: 20px;
}

.container .main .or-sign {
    margin-top: 20px;
    text-align: center;
    color: #373A42;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.container .main .logo-alt {
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container .main .logo-alt img {
    width: 20px;
    height: 20px;
    padding: 10px 30px;
    border-radius: 6px;
}

.container .main .logo-alt button {
    border: 1px solid #3366FF;
    border-radius: 6px;
    background-color: #fff;
}


/* CSS Main Page */

.background {
    display: flex;
    height: 750px;
    width: 100%;
    background-color: #3366FF;
}

.background .image{
    background-image: url(../image/bubble.png);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.background .image img {
    margin-top: 181px;
}
    
.event-calendar {
    display: flex;
    justify-content: center;
    margin-top: 175px;
    flex-direction: column;
    align-items: center;
}
    
.event-calendar .event-logo .button {
    background-color: #FF3D7140;
    color: #FF3D71;
    border-radius: 30px;
    font-size: 12px;
    padding: 6px 30px;
}
    
.event-calendar .event-u {
    margin-top: 25px;
    font-size: 36px;
    font-weight: 600;
}
    
.event-calendar .calendar {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
}
    
.event-calendar .calendar div:first-child {
    text-align: center;
    font-size: 14px;
}
    
.event-calendar .calendar div:last-child {
    font-size: 12px;
}
    
.event-calendar .calendar .active {
    border: 1px solid #FF8900;
    color: #FF8900;
    border-radius: 15px;
    padding: 2px 10px;
    text-align: center;
}
    
.event-calendar .calendar .active:after {
    content: '\00BA';
}

/* content */
.content-film {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    margin-left: 50px;
    overflow-x: scroll;
}
    
.content-film .film:nth-child(odd) {
    background-image: url(../image/film1.png);
}
.content-film .film:nth-child(even) {
    background-image: url(../image/film2.png);
}
                
.content-film .film {
    width: 260px;
    height: 376px;
    background-size: contain;
    border-radius: 20px;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    flex-shrink: 0;
}

.content-film .film .shadow{
    width: 260px;
    height: 376px;
    border-radius: 20px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 3.17%, #101426 100%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content-film .film .shadow .day {
    font-size: 14px;
    gap: 20px;
    margin-left: 25px;
}
    
.content-film .film .shadow .title {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-left: 25px;
}
    
.content-film .film .shadow .people {
    display: flex;
    margin-left: 35px;
    margin-top: 26px;
    margin-bottom: 50px;
}
    
.content-film .film .shadow .people div {
    position: relative;
    width: 28px;
    height: 29px;
    border-radius: 50%;
    margin-left: -10px;
    font-size: 10px;
    text-align: center;
    line-height: 29px;
    box-sizing: border-box;
}
    
.content-film .film .shadow .people .people1 {
    background-image: url(../image/people1.png);
    background-size: cover;
    border: 1px solid white;
}
.content-film .film .shadow .people .people2 {
    background-image: url(../image/people2.png);
    background-size: cover;
    border: 1px solid white;
}
    
.content-film .film .shadow .people .people3 {
    background-image: url(../image/people3.png);
    background-size: cover;
    border: 1px solid white;
}

.content-film .film .shadow .people .people4 {
    background-image: url(../image/people4.png);
    background-size: cover;
}

.content-film .film .people .people4 .layer{
    display: block;
    position: absolute;
    background: linear-gradient(0deg, #ff880075, #ff880075);
    width: 28px;
    height: 29px;
    border-radius: 50%;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.row-button{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.row-button button{
    border-radius: 10px;
    width: 45px;
    height: 45px;
    box-shadow: 0px 2px 15px 0px rgba(26, 60, 68, 0.08);
    font-size: 20px;
}

.row-button .button-left{
    background-color: #fff;
    color: rgba(193, 197, 208, 1);
}

.row-button .button-right{
    color: #fff;
}

.city {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 175px;
    height: 700px;
    background-color: #3366FF;
    border-radius: 50px;
    position: relative;
}

.city .city-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transform: scaleY(-1);
}

.city .content{
    position: absolute;
    width: 100%;
    height: 100%;
}

.city .city-button .button{
    background: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 1);
    border-radius: 30px;
    font-size: 12px;
    padding: 6px 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.city .content .city-one *{
    flex: 1;
}

.city .content .city-one{
    width: 100%;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.city .content .city-one .text{
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.city .content .city-one .location{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city .content .city-one .location img{
    width: 230px;
    height: 140px;
    border-radius: 20px;
}

.city .content .city-one .location span{
    text-align: center;
    justify-content: center;
    color: #fff;
    margin-top: 20px;
}

.city .content .city-button-end{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.city .content .city-button-end .button{
    width: 255px;
    height: 40px;
    background-color: #fff;
    color:rgba(51, 102, 255, 1);
    font-size: 14px;
    padding: 10px 38px;
    border-radius: 10px;
}

.event-calendar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.event-calendar .category{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 50px;
    width: 100%;
}

.event-calendar .category div{
    color:rgba(193, 197, 208, 1);
    font-size: 16px;
    font-weight: 500;
}

.event-calendar .category div:hover{
    color: #3366FF;
}

.card-second{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-second .card-end{
    width: 300px;
    height: 350px;
    background-color: #FF8900;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    overflow: hidden;
    flex-shrink: 0;
}

.card-second .card-end img{
    width: 100%;
    height: 50%;
}

.card-second .card-end .blue{
    width: 100%;
    height: 50%;
    background-color: #3366FF;
}

.card-second .card-end .blue .day {
    color: #fff;
    font-size: 14px;
    gap: 20px;
    margin-left: 25px;
    margin-bottom: 10px;
}
    
.card-second .card-end .blue .title {
    color: #fff;
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    margin-left: 25px;
    margin-bottom: 30px;
}
    
.card-second .card-end .blue .people {
    display: flex;
    margin-left: 35px;
    margin-top: -15px;
    margin-bottom: 50px;
}
    
.card-second .card-end .blue .people div {
    position: relative;
    width: 28px;
    height: 29px;
    border-radius: 50%;
    margin-left: -10px;
    font-size: 10px;
    text-align: center;
    line-height: 29px;
    box-sizing: border-box;
}
    
.card-second .card-end .blue .people .people1 {
    background-image: url(../image/people1.png);
    background-size: cover;
    border: 1px solid white;
}
.card-second .card-end .blue .people .people2 {
    background-image: url(../image/people2.png);
    background-size: cover;
    border: 1px solid white;
}
    
.card-second .card-end .blue .people .people3 {
    background-image: url(../image/people3.png);
    background-size: cover;
    border: 1px solid white;
}

.card-second .card-end .blue .people .people4 {
    background-image: url(../image/people4.png);
    background-size: cover;
}

.card-second .card-end .blue .people .people4 .layer{
    color: #fff;
    display: block;
    position: absolute;
    background: linear-gradient(0deg, #ff880075, #ff880075);
    width: 28px;
    height: 29px;
    border-radius: 50%;
    text-align: center;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 175px;
    margin-bottom: 170px;
    position: relative;
}

.banner .banner-company{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(55, 58, 66, 1);
    z-index: -1;
}

.banner .banner-background{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(180deg);
    background-size: cover;
}

.banner .banner-company .banner-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .banner-company .banner-logo .button{
    width: 150px;
    height: 30px;
    margin-top: 89px;
    background-color:rgba(255, 255, 255, 0.25);
    color: #fff;
    font-size: 12px;
    border-radius: 30px;
}

.banner .banner-company .banner-title{
    font-size: 36px;
    color: #fff;
    margin-top: 25px;
}

.banner .banner-company .by-companies{
    font-size: 12px;
    letter-spacing: 0.5px;
    color: rgba(193, 197, 208, 1);
    margin-top: 15px;
}

.banner .banner-company .category{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Booking Page */

.content-book {
    background-color: #fff;
    margin: auto;
    margin-top: 140px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 50px;
    width: auto;
    height: 100%;
    border-radius: 30px;
    display: flex;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.content-book .image-seat {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-book .image-seat img {
    width: 500px;
    height: 409.5px;
}

.content-book .order {
    display: flex;
    flex-direction: column;
    margin-top: 78px;
    margin-right: 50px;
    width: 100%;
    height: 100%;
}

.content-book .order .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.content-book .order .title .title-ticket {
    font-size: 20px;
    font-weight: 600;
}

.content-book .order .title .title-price {
    color: rgba(252, 16, 85, 1);
    font-size: 12px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.content-book .order .title .title-price .sort {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 15px 0px rgba(26, 60, 68, 0.08);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.content-book .order .title .title-price .sort span {
    font-size: 20px;
    color: #3366FF;
}

.content-book .order .quantity {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    width: 100%;
}

.content-book .order .quantity .quantity-price:nth-child(3){
    border-bottom: 1px solid rgba(193, 197, 208, 0.25);
    padding-bottom: 25px;
}

.content-book .order .quantity .quantity-price {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
}

.content-book .order .quantity .quantity-price .image-purple {
    width: 45px;
    height: 45px;
    background-color: rgba(241, 234, 255, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-book .order .quantity .quantity-price .image-red {
    width: 45px;
    height: 45px;
    background-color: rgba(255, 234, 239, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-book .order .quantity .quantity-price .image-orange {
    width: 45px;
    height: 45px;
    background-color:rgba(255, 244, 231, 1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-book .order .quantity .quantity-price img {
    width: 21.38px;
    height: 22.5px;
}

.content-book .order .quantity .quantity-price .detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.content-book .order .quantity .quantity-price .detail .row1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-book .order .quantity .quantity-price .detail .row1 .section {
    display: flex;
    justify-content: space-between;
}

.content-book .order .quantity .quantity-price .detail .row1 .section .price{
    margin-right: 20px;
}

.content-book .order .quantity .quantity-price .detail .row1 .seats {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: rgba(189, 192, 196, 1);
}

.content-book .order .quantity .quantity-price .detail .qty-button {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    font-size: 12px;
}

.content-book .order .quantity .quantity-price .detail .qty-button div {
    display: flex;
    color: #101426;
    align-items: center;
    gap: 10px;
}

.content-book .order .quantity .quantity-price .detail .qty-button .text-button button{
    color: rgba(193, 197, 208, 1);
    font-size: 20px;
}

.content-book .order .quantity .quantity-price .detail .qty-button button {
    width: 30px;
    height: 30px;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
}

.content-book .order .checkout{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 15px;
}

.content-book .order .checkout .ticket{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
}

.content-book .order .checkout .ticket :last-child{
    color: #3366FF;
}

.content-book .order .button-checkout{
    width: 100%;
    display: flex;
}

.content-book .order .button-checkout button{
    width: 315px;
    height: 55px;
    border-radius: 15px;
    box-shadow: 0px 8px 10px 0px rgba(35, 149, 255, 0.3);
    font-size: 16px;
    margin-top: 66px;
}

/* CSS Payment */
.content-book .method{
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 71px;
    padding: 0 20px;
}

.content-book .method .title{
    display: flex;
    margin-bottom: 50px;
    font-weight: 600;
}

.content-book .method .card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-book .method .card .content-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-book .method .card .card-detail{
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    font-size: 14px;
}

.content-book .method .card .card-detail .name{
    width: 40%;
}

.content-book .method .card .card-detail .right{
    display: flex;
    justify-content: left;
    width: 40%;
}

.content-book .method .card .card-detail .logo-payment-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color:rgba(136, 77, 255, 0.2);
    border-radius: 10px;
}

.content-book .method .card .card-detail .logo-payment-bank{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: rgba(252, 16, 85, 0.2);
    border-radius: 10px;
}

.content-book .method .card .card-detail .logo-payment-market{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 137, 0, 0.2);
    border-radius: 10px;
}

.content-book .method .card .card-detail .logo-payment-emoney{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: rgba(51, 102, 255, 0.2);
    border-radius: 10px;
}

.content-book .method .card .card-detail .logo-payment img{
    width: 20px;
    height: 16px;
}

.content-book .method .card .card-image{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
}

.content-book .method .card .card-image .button-card button{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: 1px dashed rgba(51, 102, 255, 1);
    color: black;
    background-color: #fff;
}

.content-book .method .detail-ticket{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 600;
    color:rgba(55, 58, 66, 1);
    gap: 15px;
    margin-bottom: 50px;
}

.content-book .method .detail-ticket .detail{
    display: flex;
    justify-content: space-between;
}

.content-book .method .detail-ticket .detail span:last-child{
    color: rgba(51, 102, 255, 1);
}

.content-book .method .button-payment button{
    width: 363px;
    height: 55px;
    box-shadow: 0px 8px 10px 0px rgba(35, 149, 255, 0.3);
    border-radius: 15px;
}

.content-book .method .button-payment{
    display: flex;
    justify-content: center;
}

.content-book .method:last-child{
    border-left: 1px solid rgba(193, 197, 208, 0.25);
    height: 40%;
    padding-left: 50px;
}

/* CSS Profile */

.profile{
    display: flex;
    margin: 140px 70px 100px 70px;
    gap: 58px;
}

.profile .profile-menu{
    display: flex;
    flex-direction: column;
}

.profile .profile-menu .profile-photo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.profile .profile-menu .profile-photo .avatar {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
}

.profile .profile-menu .profile-photo .avatar .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.profile .profile-menu .profile-photo .avatar::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: linear-gradient(white, white),
                linear-gradient(225.52deg, #3366FF 1.55%, #2395FF 1.55%, #2395FF 1.56%, #884DFF 88.86%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    z-index: -1;
}

.profile .profile-menu .profile-photo .text{
    display: flex;
    flex-direction: column;
}

.profile .profile-menu .profile-photo .text span:last-child{
    color:rgba(55, 58, 66, 0.75);
    font-size: 12px;
}

.profile .profile-menu .profile-detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 14px;
}

.profile .profile-menu .profile-detail s{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 14px;
}

.profile .profile-menu .profile-detail .detail{
    display: flex;
    gap: 25px;
    color: rgba(55, 58, 66, 1);
    font-size: 14px;
}
.profile .profile-menu .profile-detail .detail del{
    display: flex;
    gap: 25px;
    color: rgba(55, 58, 66, 1);
    font-size: 14px;
}

.profile .profile-menu .profile-detail del{
    margin-left: 50px;
}
.profile .profile-menu .profile-detail .detail:nth-child(3){
    margin-left: 50px;
}
.profile .profile-menu .profile-detail .detail:nth-child(4){
    margin-left: 50px;
}

.profile .profile-menu .profile-detail .detail .edit{
    color: rgba(51, 102, 255, 1);
}

.profile .profile-menu .profile-detail .detail .logout{
    color:rgba(240, 56, 0, 1);
}

.profile .profile-content{
    width: 100%;
    height: 825px;
    background-color: #fff;
    border-radius: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.profile .profile-content .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.profile .profile-content .box-profile{
    display: flex;
}

.profile .profile-content .box-profile .profile-title{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.profile .profile-content .box-profile .profile-title .bio{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.profile .profile-content .box-profile .bio .content-bio{
    display: flex;
    width: 100%;
}

.profile .profile-content .box-profile .bio .content-bio .criteria{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    width: 50%;
}

.profile .profile-content .box-profile .bio .content-bio .edit{
    margin-left: 15px;
    font-size: 14px;
}

.profile .profile-content .box-profile .bio .content-bio div:nth-child(2){
    color:rgba(119, 119, 119, 1);
    font-size: 14px;
}

.profile .profile-content .box-profile .bio .content-bio .input input{
    border: 1px solid rgba(193, 197, 208, 1);
    border-radius: 15px;
    height: 35px;
    padding-left: 15px;
    width: 100%;
}

.profile .profile-content .box-profile .bio .content-bio .input input[type=radio]{
    border: 0px;
    width: 100%;
    height: 15px;
}


.profile .profile-content .box-profile .bio .content-bio .input select{
    border: 1px solid rgba(193, 197, 208, 1);
    border-radius: 15px;
    height: 35px;
    padding-left: 15px;
    color:rgba(119, 119, 119, 1);
    font-size: 14px;
    display: flex;
    width: 100%;
}

.profile .profile-content .box-profile .bio .content-bio .input{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    width: 50%;
}

.profile .profile-content .box-profile .profile-title .profile-button button{
    width: 315px;
    height: 61px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;
    box-shadow: 0px 8px 10px 0px rgba(35, 149, 255, 0.3);
}

.profile .profile-content .box-profile .edit-photo {
    flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border-left: 1px solid rgba(193, 197, 208, 0.25);
}

.profile .profile-content .box-profile .edit-photo .avatar {
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    justify-self: center;
}

.profile .profile-content .box-profile .edit-photo .avatar .layer-profile {
    position: relative;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile .profile-content .box-profile .edit-photo .avatar .layer-profile .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
}

.profile .profile-content .box-profile .edit-photo .avatar .layer-profile::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 2px solid transparent;
    background: linear-gradient(white, white),
                linear-gradient(225.52deg, #3366FF 1.55%, #2395FF 1.55%, #2395FF 1.56%, #884DFF 88.86%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: linear-gradient(0deg, #373A42, #373A42);
}

.profile .profile-content .box-profile .edit-photo .avatar .layer-profile::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}
.profile .profile-content .box-profile .edit-photo .avatar .layer-profile .layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.profile .profile-content .box-profile .edit-photo .avatar .layer-profile .camera-logo {
    width: 20px;
    height: auto;
}

.profile .profile-content .box-profile .edit-photo .edit-button{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.profile .profile-content .box-profile .edit-photo .edit-button button{
    width: 255px;
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    color: #3366FF;
    border: 1px solid rgba(51, 102, 255, 1)
}

.profile .profile-content .box-profile .edit-photo .edit-button div{
    font-size: 12px;
    color: rgba(55, 58, 66, 0.75);
}